@{
    ViewData["Title"] = "Home Page";
}


<!doctype html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</head>

<body>
    <div class="text-center">
        <br />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ahmet</td>
                    <td>2500</td>
                    <td>Epik</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ahmet</td>
                    <td>2500</td>
                    <td>Epik</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ahmet</td>
                    <td>2500</td>
                    <td>Epik</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Mehmet</td>
                    <td>1500</td>
                    <td>Epik</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Ali</td>
                    <td>2000</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Veli</td>
                    <td>1800</td>
                    <td>Yüksek</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Kerem</td>
                    <td>2200</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Ayşe</td>
                    <td>1900</td>
                    <td>Epik</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Fatma</td>
                    <td>2100</td>
                    <td>Yüksek</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Elif</td>
                    <td>2300</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Burak</td>
                    <td>1700</td>
                    <td>Düşük</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Can</td>
                    <td>1600</td>
                    <td>Epik</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Deniz</td>
                    <td>2500</td>
                    <td>Yüksek</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Emre</td>
                    <td>2400</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Gizem</td>
                    <td>2600</td>
                    <td>Epik</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Hakan</td>
                    <td>2700</td>
                    <td>Yüksek</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>İrem</td>
                    <td>2800</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Jale</td>
                    <td>2900</td>
                    <td>Düşük</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Kaan</td>
                    <td>3000</td>
                    <td>Yüksek</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Levent</td>
                    <td>3100</td>
                    <td>Epik</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Mert</td>
                    <td>3200</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Nil</td>
                    <td>3300</td>
                    <td>Yüksek</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Oya</td>
                    <td>3400</td>
                    <td>Epik</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Polat</td>
                    <td>3500</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Rıza</td>
                    <td>3600</td>
                    <td>Düşük</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>Selin</td>
                    <td>3700</td>
                    <td>Epik</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>Tuba</td>
                    <td>3800</td>
                    <td>Yüksek</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>Umut</td>
                    <td>3900</td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>Volkan</td>
                    <td>4000</td>
                    <td>Düşük</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>Yasemin</td>
                    <td>4100</td>
                    <td>Epik</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- jQuery and DataTable JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

</body>
</html>

